.container-card-principal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.234);
  background-color: rgba(255, 255, 255, 0.714);
}
.calendar {
  margin-top: 10px;
  color: red;
  width: 300px;
}
.calendar:hover {
  border: 1px solid red;
}
.container-image{
    margin: 20px;
    border-radius: 10px;
    background-color: rgba(224, 222, 222, 0.709);
}

.container-card h1 {
  font-weight: bold;
}
.container-imaen-bienvenida {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.234);
  background-color: rgba(148, 133, 133, 0.229);
}
img {
  width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 40px;
}
.container-card .text-bienvenida {
  display: flex;
  flex-direction: column;
}
/* Contenedor principal de las tarjetas */
.card-container {
  display: flex; /* Alinea los elementos hijos en fila */
  flex-direction: row; /* Dirección horizontal */
  justify-content: space-between; /* Espacio uniforme entre las tarjetas */
  flex-wrap: wrap; /* Permite que las tarjetas bajen a la siguiente fila si no caben */
  gap: 20px; /* Espaciado entre tarjetas */
  padding: 20px; /* Espaciado interno del contenedor */
}

/* Estilo para las tarjetas individuales */
.card {
  flex: 1 1 calc(33.33% - 40px); /* Tamaño dinámico, ajusta 3 por fila */
  max-width: calc(
    33.33% - 50px
  ); /* Limita el tamaño para 3 tarjetas por fila */
  min-width: 250px; /* Tamaño mínimo para las tarjetas */
  margin: 10px; /* Margen entre tarjetas */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra para resaltar las tarjetas */
  border-radius: 8px; /* Bordes redondeados */
  padding: 15px; /* Espaciado interno */
  text-align: left; /* Centra el texto */
  margin-bottom: 4rem;
}
@media (max-width: 800px) {
  .container-card-principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.234);
    background-color: rgba(255, 255, 255, 0.714);
    margin:auto;
    max-width: 90%;
  }
  
  .text-bienvenida {
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 12px;
  }
  .calendar{
    margin-top: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
  .container-image{
    margin-top: -20px;
    width: 200px;
  }

  .card-container {
    display: flex; /* Alinea los elementos hijos en fila */
    flex-direction: column; /* Dirección horizontal */
    justify-content: center; /* Espacio uniforme entre las tarjetas */
    align-items: center;
    flex-wrap: wrap; /* Permite que las tarjetas bajen a la siguiente fila si no caben */
    gap: 20px; /* Espaciado entre tarjetas */
    padding: 20px; /* Espaciado interno del contenedor */
    margin-right: 40px;
  }
  
  /* Estilo para las tarjetas individuales */
  .card {
    flex: 1 1 calc(33.33% - 40px); /* Tamaño dinámico, ajusta 3 por fila */
    max-width: 200vh;    
    margin: 10px; /* Margen entre tarjetas */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra para resaltar las tarjetas */
    border-radius: 8px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    text-align: left; /* Centra el texto */
    margin-bottom: 4rem;
  }
}
@media (max-width: 400px){
  .container-card-principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    margin-left: 1px;
    margin-right: 5px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.234);
    background-color: rgba(255, 255, 255, 0.714);
  }
  img{
    width: 15vh;
    margin-top: 20px;
  }
 
}
