$column: rgb(0, 38, 255);
$boton: red;

.color-column{
  color: $column;
}
.container-search{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  .search-input{
    height: 30px;
  }
}
@media (max-width: 500px) {
  .search-input {
    margin-right: 0;
  }
}