$column: rgb(0, 38, 255);
$boton: red;

.color-column{
  color: $column;
}
.card{
  text-align: center;

}
.search-input{
  margin-bottom: 30px;
  margin-right: 10rem;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .search-input {
    margin-right: 0;
  }
  .custom-datatable{
    

  }
}