@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

$light: #81849a67;
$gray: #00000047;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.flex{
  display: flex;
  height: 100%; /* Asegurar altura completa */
  margin: 0; /* Eliminar márgenes */
  padding: 0; /* Eliminar padding */
}
.content{
  width: 200%; /* Para evitar desplazamiento horizontal */
  height: calc(100vh - 88px); /* Ajustar altura relativa al viewport menos la barra de navegación */
  overflow-y: auto; /* Habilitar scroll vertical */
  overflow-x: hidden; /* Evitar scroll horizontal */
  margin: 0; /* Eliminar márgenes */
  padding: 0; /* Eliminar paddings */
  position: relative; /* Asegura que no se solapen elementos */
  top: -50px; /* Posición inicial en la parte superior */
}

.sidebar {
  width: 14rem;
  height: calc(100vh - 52px);
  ul {
    list-style-type: none;
    padding: 1rem 2rem;
    li {
      margin-bottom: 1rem;
      a {
        text-decoration: none;
      }
    }
  }
}

